<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.1.10.0" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.1.9.0" targetFramework="net45" />
  <package id="NLog" version="4.3.7" targetFramework="net45" />
  <package id="NUnit" version="3.4.1" targetFramework="net45" />
  <package id="ZetaLongPaths" version="1.0.0.13" targetFramework="net45" />
</packages>