<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--add name="DatabaseContext" connectionString="data source=(LocalDb)\v11.0;initial catalog=TeltecBackup.Model.DatabaseContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /-->
  <!--<add name="TeltecBackupCompact" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\database.mdf;Integrated Security=True;Connect Timeout=10;" providerName="System.Data.SqlClient" />-->
  <add name="TeltecBackupExpress" connectionString="Server=localhost;Integrated Security=SSPI;Connect Timeout=10;Trusted_Connection=Yes;Database=TeltecBackup;" providerName="System.Data.SqlClient" />
</connectionStrings>