<connectionStrings>
  <clear/>
  <!--add name="DatabaseContext" connectionString="data source=(LocalDb)\v11.0;initial catalog=TeltecBackup.Model.DatabaseContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /-->
  <!--<add name="TeltecBackupCompact" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\database.mdf;Integrated Security=True;Connect Timeout=10;" providerName="System.Data.SqlClient" />-->
  <add name="PrivilegedConnection" connectionString="Server=.\SQLEXPRESS;Integrated security=SSPI;Connect Timeout=10;Trusted_Connection=Yes;Database=master;" providerName="System.Data.SqlClient" />
</connectionStrings>